video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

body {
  background-color: black;
  padding-top: -40px;
}

form {
  margin-top: 300px;
}

a:hover {
  text-decoration: none;
}

/* button {
  float: right;
  display: inline-block;
} */

.dropdown {
  padding-top: 20px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
}


.title-container p {
  font-weight: 900;
  text-shadow: 0px 0px 6px #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}

.bubble-text p {
  font-weight: 900;
  text-shadow: 0px 0px 6px #000;
  color: white;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}



/* .container {
  margin-top: -40px;
  width: 100%;
  padding-left: 0;
} */

.important-font {
  font-size: 55px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased
  font-weight: 999;
  text-shadow: 0px 0px 25px #000;
  font-size: 20px;
}


.title-container {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  font-weight: 999;
  text-shadow: 0px 0px 25px #000;
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 20px;
}

.results_page {
  display: none;
  float: left;
  width: 1220px;
}

.hover-style {
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

/* .carousel-inner img {
  width: 100%;
  height: 100%;
  margin: auto;
} */

/*.carousel-caption h3, p{
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  text-shadow: 0px 0px 6px #000;
}
*/


@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
